/* ======= page settings ======= */
ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a { 
    text-decoration: none;
    color: #434455;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6, p {
        margin-top: 0;
        margin-bottom: 0;
}
button {
        cursor: pointer;
}
img {
        display: block;
}
/* ======= /page settings ======= */
/* ======= padding settings ======= */
.container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
}
.first-section {
        padding-top: 188px;
        padding-bottom: 292px;
}
.first-container {
        padding-top: 188px;
        padding-bottom: 292px;
}
.section-paddings {
        padding-top: 120px;
        padding-bottom: 120px;
}
/* .header-paddings {
        padding-top: 24px;
        padding-bottom: 24px;
} */

.footer-paddings {
        padding-top: 100px;
        padding-bottom: 100px;
}
/* ======= /padding settings ======= */
/* ======= logo style ======= */
.logo-color-first {
    color: #4d5ae5;
}
.logo-color-second {
    color: #2e2f42;
}
.logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
}
.style-logo {
    color: #2e2f42;   
}
.style-logo-footer {
    color: #f4f4fd;
}
/* ======= /logo style ======= */

/* ======= main menu style ======= */
.page-nav {
        display: flex;
        align-items: center;
}
.menu-nav {
        display: flex;
        column-gap: 40px;
        
}
.address {
        display: flex;
        column-gap: 40px;
        padding-top: 24px;
        padding-bottom: 24px;
}
.page-header-container {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e7e9fc;
}
.menu-link {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}
.menu-link:hover, 
.menu-link:focus {
        color: #404bbf;
}
.menu-address {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
        color: #434455;
}
.menu-link:hover {
        color: #404bbf;
} 
.menu-link:focus {
        color: #404bbf;
}
.menu-link-main:active {
        color: #404bbf;
}
.contacts-link:hover {
        color: #404bbf;
}
.contacts-link:focus {
        color: #404bbf;
}
/* ======= /main menu style ======= */

/* ======= section  ======= */
.list-section {
        display: flex;
}
.first-section {
        background-color: #2e2f42;
}
.third-section {
    background-color: #F4F4FD;
}

.main-title {
        width: 496px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        align-items: center;
}
.order-btn {
 
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
}
.order-btn:hover, 
.order-btn:focus {
 
        background: #404bbf;
}
/* ======= /section  ======= */

/* ======= section  ======= */
.name-plan {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.description {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.title-team{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
}
.image-background {
    background-color: #FFFFFF;
}
.name-team {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.description-team {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}
/* ======= /section  ======= */

.products {
        background-color: #FFFFFF
}
.title-portfolio {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
}
.title-portfolio {
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.title-products {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.text-products {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/* ======== footer ======== */
.page-footer {
    background-color: #2e2f42;
}
.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}