/* ======= page settings ======= */
ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a { 
    text-decoration: none;
    color: #434455;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6, p {
        margin-top: 0;
        margin-bottom: 0;
}
button {
        cursor: pointer;
}
img {
        display: block;
}
/* ======= /page settings ======= */
/* ======= padding settings ======= */
.container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
}

.first-section {
        padding-top: 188px;
        padding-bottom: 188px;
}

.section-paddings {
        padding-top: 120px;
        padding-bottom: 120px;
}
/* .header-paddings {
        padding-top: 24px;
        padding-bottom: 24px;
} */

.footer-paddings {
        padding-top: 100px;
        padding-bottom: 100px;
}
/* ======= /padding settings ======= */
/* ======= logo style ======= */
.logo-color-first {
    color: #4d5ae5;
}
.logo-color-second {
    color: #2e2f42;
}
.logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
}
.style-logo {
    color: #2e2f42;   
}
.style-logo-footer {
        color: #f4f4fd;
}
.footer-container {
        display: inline-block;
        margin-bottom: 16px;
}
/* ======= /logo style ======= */

/* ======= main menu style ======= */
.page-nav {
        display: flex;
        align-items: center;
}
.menu-nav {
        display: flex;
        column-gap: 40px;
        gap: 40px;
}
.menu-item-main{
        margin-right: 0;
}
.address {
        display: flex;
        gap: 40px;
        padding-top: 24px;
        padding-bottom: 24px;
}
.page-header-container {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e7e9fc;
}
.page-header {
        border-bottom: 1px solid #e7e9fc
}
.menu-link {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}
.menu-link:hover, 
.menu-link:focus {
        color: #404bbf;
}
.menu-address {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
        color: #434455;
}
.menu-link:hover {
        color: #404bbf;
} 
.menu-link:focus {
        color: #404bbf;
}
.menu-link-main:active {
        color: #404bbf;
}
.contacts-link:hover {
        color: #404bbf;
}
.contacts-link:focus {
        color: #404bbf;
}
/* ======= /main menu style ======= */

/* ======= section  ======= */
.list-section {
        display: flex;
        gap: 24px;
}
.first-section {
        background-color: #2e2f42;
}
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.third-section {
    background-color: #F4F4FD;
}

.main-title {
        max-width: 496px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
}
.order-btn {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        border-radius: 4px;
        padding: 16px 32px;
        border: none;
        min-width: 169px;
        align-items: center;
        margin: 0 auto;
}
.order-btn:hover, 
.order-btn:focus {
 
        background: #404bbf;
}
/* ======= /section  ======= */

/* ======= section  ======= */
.list-section-description {
        width: calc((100% - 72px) / 4);
        margin-bottom: 8px; 
}
.name-plan {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.description {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.title-team{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;

}
.container-list-section {
        padding: 32px 0 32px;
        padding-bottom: 32px;
}
.image-background {
        background-color: #FFFFFF;
        width: calc((100% - 72px) / 4);
        border-radius: 0 0 4px 4px;
}
.list-section-team {
        display: flex;
        gap: 24px;
        border-radius: 0px 0px 4px 4px;

}
.team-container {
        padding: 32px 0;
        padding-bottom: 32px;


}
.name-team {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}
.description-team {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        padding-top: 8px;
}
/* ======= /section  ======= */

.products {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        background-color: #FFFFFF
}

.title-portfolio {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}
.title-portfolio {
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.title-products {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
.product-list {
        max-width: 360px;
        height: 420px;
}
.product-list-container {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}
.text-products {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-left: 16px;
}
/* ======== footer ======== */

.page-footer {
        background-color: #2e2f42;
}
.footer-container {
        max-width: 264px;
        height: 112px;
}
.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}